<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Calendar Share M0</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Setup</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(SETUP_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_REDIRECT_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CalendarShareAppGroup</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>CalendarShareGoogleClientID</key>
	<string>$(GOOGLE_CLIENT_ID)</string>
	<key>CalendarShareGoogleRedirectScheme</key>
	<string>$(GOOGLE_REDIRECT_SCHEME)</string>
	<key>CalendarShareKeychainGroup</key>
	<string>$(AppIdentifierPrefix)$(KEYCHAIN_GROUP_SUFFIX)</string>
	<key>CalendarShareMessageBaseURL</key>
	<string>$(MESSAGE_BASE_URL)</string>
	<key>CalendarShareSetupScheme</key>
	<string>$(SETUP_URL_SCHEME)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Choose calendar events to share and select where to save events you receive.</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
